@use "./_global";

.AddressSearch {
  position: relative;
  padding: 0.625rem;
  border-radius: global.$radius;

  .Autocomplete {
    
    color: white;

    .MuiOutlinedInput-root {
      transition: border-color 0.3s ease; /* Smooth transition for border color */

      &.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #daedd5; /* Or any color you prefer */
        transition: border-color 0.3s ease; /* Ensure the transition is also applied when focused */
      }
    }

    .MuiInputLabel-outlined {
      color: var(--Primary---70, #daedd5);

      &.Mui-focused {
        color: #daedd5; // Or any color you prefer
      }
    }

    .MuiInputBase-input {
      color: var(--Primary--40, #79b669);
      font-size: 1rem;
      line-height: 1.5rem; /* 150% */
      letter-spacing: 0.5px;

      &::placeholder {
        color: #aaa; // Placeholder text color
        opacity: 1; // Make sure the placeholder is fully visible
      }
    }

    .MuiAutocomplete-clearIndicator {
      color: rgba(255, 255, 255, 0.75);
    }

    .MuiAutocomplete-popupIndicator {
      color: rgba(255, 255, 255, 0.75);
    }
  }

  .textField {
    & .MuiOutlinedInput-root {
      & fieldset {
        border-color: #daedd5;
      }
      &:hover fieldset {
        border-color: #daedd5;
      }
      &.Mui-focused fieldset {
        border-color: #79b669;
      }
    }
  }
}
