.cardRate {
  .CardContent {
    width: 16rem;
    height: 12rem;
    flex-shrink: 0;
    background-color: #49454f;
    padding: 1rem;
    gap: 0.75rem;
    border-radius: 15px;
    margin: 0.5rem 0.75rem 0.5rem 0.75rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    .title-card {
      cursor: pointer;
      color: var(--Primary--60, #b8d6b0);
      font-size: 1.25rem;
      align-self: flex-start;
      font-weight: 400;
      line-height: 1.75rem;
      text-decoration-line: underline;
    }

    .text-card {
      color: var(--Primary---80, #fff);
      text-align: left;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1rem;
      flex-grow: 1; /* Added to make this element grow */
    }

    .CustomSlider {
      /* Add your custom slider styles here */
      align-self: stretch; /* If you want the slider to stretch to the container's width */
    }
  }
}
