// Sidebar Variables
$sidebar-background-color: #49454f;
$sidebar-text-color: #333333;

// Slider Variables
$slider-track-color: #79b669;
$slider-thumb-color: #ffffff;
$slider-mark-color: #daedd5;

.sidebar {
  width: 90%;
  color: $sidebar-text-color;
  box-sizing: border-box;
  .CustomSlider {
    .MuiSlider-root {
      color: $slider-track-color;
      height: 0.9rem;
      .MuiSlider-thumb {
        background-color: $slider-thumb-color;
        width: 0.125rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: var(--Primary---70, #daedd5);
        flex-shrink: 0;
        border: 2px solid $slider-thumb-color;
        box-shadow: 0 0 0 0.4rem $sidebar-background-color;
        transition: all 0.5s ease;
        &:hover {
          box-shadow: 0 0 0 0.6rem $sidebar-background-color;
        }
      }

      .MuiSlider-mark {
        background-color: $slider-mark-color;
      }

      .MuiSlider-markLabel {
        color: $sidebar-text-color;
        font-size: 2.9rem;
        text-align: center;
        width: 150%;
        display: block;
      }

      .MuiSlider-valueLabel {
        background-color: var(--Primary---80, #fff);
        color: #49454f;
        border-radius: 8.25rem;
        width: 3rem;
        padding: 0.3rem 0.01em;

        transition: all 0.3s ease; // Customize this value as needed

        &:hover {
          padding: 0.5rem 0.1rem;
        }
      }
    }
  }
}
