@use "./_global";

.drawer {
  border-radius: global.$radius;

  display: flex;
  flex-direction: column;
  height: 100%;
  .drawer-content {
    .drawerHeader {
      margin-bottom: 1rem;
    }

    flex-grow: 1;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    p {
      text-align: justify;
      line-height: 1.2;
      font-weight: lighter;
    }
  }

  .drawer-footer {
    padding: 0.5rem;
    border-radius: global.$radius/4;
    background: #49454f;
    display: flex;
    justify-content: end;
    .MuiButton-root {
      color: #69b66d;
      background: #605b68;
      margin: 0rem 0rem 0rem 1rem;
    }
  }
}

.MuiDrawer-root {
  .MuiPaper-root {
    // transition: 6s;
    background-color: #49454f;
    max-width: 40%;
    @media screen and (max-width: 1024px) {
      max-width: 60%;
    }
    @media screen and (max-width: 640px) {
      max-width: 90%;
    }
    .MuiAccordion-root {
      max-width: 100%;
      background-color: #37343b;
      color: white;
      font-size: 1.25rem;
    }
    .MuiAccordion-region {
      .MuiAccordionDetails-root {
        background-color: #423e47;
      }
    }
    .MuiTableCell-root {
      color: white;
      font-weight: normal;
    }
    .MuiTableCell-head {
      color: white;
      font-weight: bold;
    }
  }
}
