@use "./_global";

.drawer {
  border-radius: global.$radius;

  display: flex;
  flex-direction: column;
  height: 100%;
  .drawer-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    h2 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }

  .drawer-footer {
    padding: 0.5rem;
    border-radius: global.$radius/4;
    background: #49454f;
    display: flex;
    justify-content: end;
    .MuiButton-root {
      color: #69b66d;
      background: #605b68;
      margin: 0rem 0rem 0rem 1rem;
    }
  }
}

.MuiDrawer-root {
  .MuiPaper-root {
    // transition: 6s;
    background-color: #49454f;
    max-width: 40%;
    .MuiAccordion-root {
      max-width: 100%;
      background-color: #4f7851;
      color: white;
      font-size: 1.25rem;
      font-weight: 400;
    }
    .MuiAccordion-region {
      .MuiAccordionDetails-root {
        background-color: #49454f;
      }
    }
  }
}
