@use "./_global";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}


body {
  background: radial-gradient(
    circle,
    global.$globalBackground,

    #0e140e
  );
  background-size: 170% 170%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: -100% 50%;
  }
  25% {
    background-position: -125% 75%;
  }
  50% {
    background-position: -150% 80%;
  }
  75% {
    background-position: -125% 60%;
  }
  100% {
    background-position: -100% 50%;
  }
}

// html,
// body {
//   height: 100%;
//   margin: 0; /* Ensure there is no default margin */
//   font-size: 16px; /* Typically set as the baseline font-size */
//   font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// body {
//   background: radial-gradient(
//     circle,
//     global.$globalBackground,

//     #0e140e
//   );
//   background-size: 170% 170%;
//   animation: gradientAnimation 10s ease infinite;
  
//   padding: 3rem 0rem 0rem 0rem;
//   display: flex;
//   justify-content: center;

// }

// @keyframes gradientAnimation {
//   0% {
//     background-position: -100% 50%;
//   }
//   25% {
//     background-position: -125% 75%;
//   }
//   50% {
//     background-position: -150% 80%;
//   }
//   75% {
//     background-position: -125% 60%;
//   }
//   100% {
//     background-position: -100% 50%;
//   }
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

// h1 {
//   /* Display Large */
//   color: var(--Neutral---99, #fffbfe);
//   font-family: Roboto;
//   font-size: 3.5625rem;
//   font-weight: 400;
//   line-height: 3rem; /* 122.222% */
//   letter-spacing: -0.01563rem;
//   margin: 0.2rem;
// }
// h2 {
//   color: var(--Primary---70, #daedd5);
//   font-family: Roboto;
//   font-size: 2.5rem;
//   font-weight: 400;
//   line-height: 2.75rem; /* 122.222% */
//   margin: 0.2rem;
// }
// h3 {
//   color: #fff;
//   font-family: Roboto;
//   font-size: 1.5rem;
//   font-weight: 400;
//   line-height: 1.75rem; /* 127.273% */
//   margin: 0.2rem;
// }

// p {
//   color: var(--Neutral---99, #fffbfe);
//   text-align: center;

//   /* Body Large */
//   font-family: Roboto;
//   font-size: 1rem;
//   font-weight: 400;
//   line-height: 1.5rem; /* 150% */
//   letter-spacing: 0.03125rem;
//   margin: 0.2rem;
// }

// a {
//   color: #5f6c60;
//   text-decoration: underline;
// }

// @media screen and (max-width: 1024px) {
//   html {
//     font-size: 14px;
//   }
//   body {
//     padding: 2rem 0rem 0rem 0rem;
//   }
// }

// @media screen and (max-width: 640px) {
//   html {
//     font-size: 10px;
//   }
//   body {
//     padding: 1rem 0rem 0rem 0rem;
//   }
// }
