.mainPage {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  
    .mainPage-header {
      text-align: center;
  
      h1 {
        color: #6200ea;
        margin-bottom: 40px;
      }
    }
  
    .mainPage-content {
      .inputs-field {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .MuiTextField-root {
          width: 100%;
        }
      }
    }
  }
  