@use "./_global";

.mainPage {
  line-height: 4rem; /* 112.281% */
  display: flex;
  max-width: 58.5rem;
  flex-direction: column;
  align-items: center;

  .mainPage-header {
  }

  .mainPage-content {
    // border: 2px solid chartreuse;

    display: flex;
    max-width: 35rem;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    .inputs-field {
      display: flex;
      // align-items: center;

      .AddressSearch {
        flex-grow: 1;
      }

      .button {
        background-color: #69b66d;
        border: #5a9c5d;
        margin: 11px 5px 18px 5px;
        color: BLACK;
        font-weight: bold;
        font-size: 16px; /* Set the initial font size */
        cursor: pointer; /* Cursor changes to pointer when hovering over the button */
        border-radius: global.$radius; /* Rounded corners for the button */
        transition-duration: 0.6s; /* Makes the hover effect smooth */
      }

      /* Button hover effect */
      .button:hover {
        background-color: #daedd5; /* Darker shade of green */
      }

      /* Button active/focus effect */
      .button:active,
      .button:focus {
        outline: none; /* Removes the outline to make it look cleaner */
        box-shadow: 0 0 0 2px #daedd5; /* Adds a shadow for a 'focus' effect */
      }
    }
  }
}
